/dist
/node_modules
/database/database.sqlite
/public/hot
/public/storage
/public/js/*
!/public/js/member
/public/js/member/*
!/public/js/member/common.js
/public/css/admin
/public/css/fonts
/public/css/images
/public/css/img
/public/scss
/public/assets
/public/svg
/public/icons
/public/public
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.phar
/.vscode
